/*body {
  font: 1.3rem sans-serif;
  padding: 0.5em;
  margin: 0;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 9px;
  box-sizing: border-box;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.wrapper {
  flex: 70%;
}
.app {
  display: flex;
}

.column {
  flex: 50%;
}
*/
body {
  font: 0.8rem sans-serif;
  padding: 0.5em;
  margin: 0;
}
input[type="text"],
select {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
.row {
  display: grid;
  grid-template-columns: 300px 500px;
  justify-content: center;
}
.column {
  padding: 16px;
  height: 250px;
}

p.err {
  margin: 0;
  padding: 0;
  color: red;
  font-size: 10px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #9999;
  padding: 3px;
}
th {
  font-size: 12px;
}
